<!-- Header -->
	<header id="header" class="alt">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117726176-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('set', 'anonymizeIp', true);
		  gtag('config', 'UA-117726176-2');
		</script>
		<!-- <h1><a href="{{ site.baseurl }}/index.html">www.djherman-möltgen.de</a> Michael und Hermann</h1> -->
		<h1><b>www.djherman-möltgen.de</b> <i>by Hermann Möltgen</i></h1>
		<nav id="nav">
			<ul>
				<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="https://www.google.com/search?safe=off&sxsrf=ACYBGNTm3ZjtWwYgrUJoo4vKojtHBtv9pQ:1570874862190&ei=0qWhXabWEcLewALxpI3YCA&q=dj%20herman%20m%C3%B6ltgen&oq=dj+herman+m%C3%B6ltgen&gs_l=psy-ab.3..35i304i39j38.26089.26089..26249...0.0..0.65.65.1......0....1..gws-wiz.Gci4Mo2fkY0&ved=2ahUKEwiUy5bxvJblAhVSa1AKHdv3Bg4QvS4wAHoECAoQEg&uact=5&npsic=0&rflfq=1&rlha=0&rllag=50957766,7200314,14348&tbm=lcl&rldimm=614497081984995497&rldoc=1&tbs=lrf:!2m1!1e2!3sIAE,lf:1,lf_ui:14&rlst=f#lrd=0x47becfb5b478e903:0x88721d71f3ad0a9,1,,,&rlfi=hd:;si:614497081984995497;mv:[[50.9927748,7.4320176],[50.9286586,6.856942399999999]];tbs:lrf:!2m1!1e2!3sIAE,lf:1,lf_ui:14" target="_blank"><strong style="color: white;">Google</strong></a></li>
				<!--<li><a href="http://www.facebook.com/hermann.moltgen"> <i class="icon fa-facebook-square" style="color:blue"></i></a></li>-->
				<!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->
				<li><a href=".">Startseite</a></li>
				<li><a href="./#musikalisch">Musik</a></li>
				<li><a href="./#impressionen">Impressionen</a></li>
				<li><a href="./#angebote">Angebote</a></li>
				<li><a href="./#rezensionen">Rezensionen</a></li>
				<li><a href="./#kontakt">Kontakt</a></li>
				<li><a href="impressum.html">Impressum</a></li>
				<!--
				<li>
					<a href="" class="icon fa-angle-down">Layouts</a>
					<ul>
						<li><a href="#">Generic</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Elements</a></li>
						<li>
							<a href="">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#" class="button">Sign Up</a></li>
				-->
			</ul>
		</nav>
	</header>
